@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format("truetype");
}

* {
  font-family: "Inter", sans-serif;
}

@keyframes marqueeBounce {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(100vw - 100%));
  }
}

.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeBounce 10s linear infinite alternate;
}

/* Pause on hover */
.marquee-text:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.marquee-container {
  overflow: hidden;
  position: relative;
}

.marquee-container::before,
.marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 2;
}

.marquee-container::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.marquee-container::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}
